repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        types_or: [go, markdown]
      - id: end-of-file-fixer
        types_or: [go, markdown]
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt
        language: system
        types: [go]
        args: ['-w']
